li.menu__li
    span.heading2(style=`font-size: ${heading2Size}rem`)= item.name
    case item.portion.toLowerCase()
        when 'red'
            include menu-key-red-icon
        when 'black'
            include menu-key-black-icon
